<div class="alert alert-info text-center" role="alert">
<h1>Edit Category</h1>
</div>
<%= render "form", category: @category %>
<div class="text-center" style="margin-top:50px;">
<button type="button" class="btn btn-outline-primary" ><%= link_to "Back ", categories_path %></button>

</div>

